@import "tailwindcss";

@theme {
  --color-onyx: #0A0A0A;
  --color-slate-100: #F1F5F9;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-600: #475569;
  --color-slate-800: #1E293B;
  --color-record: #BE123C;
}

@layer base {
  body {
    @apply bg-onyx text-slate-100 antialiased;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}
